{
  "openapi": "3.1.0",
  "info": {
    "title": "FRED Economic Data API",
    "version": "1.0.0",
    "description": "Consulta indicadores económicos de la Reserva Federal (FRED)"
  },
  "servers": [
    {
      "url": "https://api.stlouisfed.org/fred"
    }
  ],
  "paths": {
    "/series/observations": {
      "get": {
        "operationId": "getSeriesObservations",
        "summary": "Obtiene observaciones para una serie FRED",
        "parameters": [
          {
            "name": "series_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "file_type",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "json" }
          },
          {
            "name": "observation_start",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "observation_end",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date" }
          }
        ],
        "responses": {
          "200": {
            "description": "Observaciones exitosamente obtenidas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "realtime_start": { "type": "string" },
                    "realtime_end": { "type": "string" },
                    "observation_start": { "type": "string" },
                    "observation_end": { "type": "string" },
                    "observations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": { "type": "string", "format": "date" },
                          "value": { "type": "string" }
                        },
                        "required": ["date", "value"]
                      }
                    }
                  },
                  "required": ["realtime_start", "realtime_end", "observations"]
                }
              }
            }
          }
        }
      }
    }
  }
}


